name: Renovate
on:
  schedule:
    - cron: '* 3 * * *'
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.4
        with:
          configurationFile: .github/renovate.js
          token: ${{ secrets.RENOVATE_TOKEN }}
